<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BLEP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
	<body>
		<header id="header">
			<nav id="navbar" class="navbar navbar-expand-lg">
						<b id="brand" class="navbar-brand" href="#">BLEP</b>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fas fa-angle-down" id="down-arrow"></i>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="nav navbar-nav ml-auto">
								<li class="nav-item dropdown">
									<d class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-address-book"></i>Channels
									</d>
									<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
									<d class="dropdown-item text-light" href="#">Channel 1</d>
									<d class="dropdown-item text-light" href="#">Channel 2</d>
									<div class="dropdown-divider"></div>
									<d class="dropdown-item text-light" href="#"><i class="fas fa-address-book"></i>Manage Channels</d>
									</div>
								</li>
								<li class="nav-item">
									<d class="nav-link" href="#"><i class="fas fa-user"></i>Users</d>
								</li>
								<li class="nav-item">
									<d class="nav-link" href="#"><i class="fas fa-cog"></i>Settings</d>
								</li>
								<li class="nav-item">
									<d class="nav-link" href="#"><i class="fas fa-power-off"></i>Logout</d>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</header>