<%- include('partials/blankHeader'); %> 
<div id="main">
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar1" class="col-md-2">
        
      </div>
      <main id="login" role="main" class="col-md-8">
        <h5 id="welcome">WECOME TO BLEP!</h5>
        <h2>Login</h2>
        <% if (locals.errors && locals.errors.login) { %>
          <% locals.errors.login.forEach(function(error) { %>
            <p class="alert alert-primary" role="alert"><%= error %></p>
          <% }) %>
        <% } %>

        <form action="/login" method="post" class="chat-form">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h2 id="notRegistered">Not registered?</h2>
        <a href="http://localhost:3000/register" class="btn btn-secondary" role="button">Register</a>
      </main>

    </div> <!-- end .row --> 
</div><!-- end #main -->
<%- include('partials/footer'); %>